@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error occured while processing request.</h1>
        <h2>Please Contact Site Adminstarator for more help</h2>
    </hgroup>
</body>
</html>